name: CI-Test

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - run: |
        ssh $secret.USERNAME@$secret.HOST
        echo hello, world