name: CI-Test

on:
  push:
    branches: main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: ssh
      env:
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        host: ${{ secrets.HOST }}
        port: ${{ secrets.PORT }}
      run: |
        sudo apt-get install expect
        spawn ssh "$username"@"$host"
        expect "*password*"
        send ""$password"\r"
        interact
        echo hello, world